body {
  text-align: center;
  /* background-color: #222222; */
  background-image: url(universe-simon1.jpg);
}

#load{
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 4rem;
  margin:  3%;
  color: #ffffff;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#welcome{
  text-align: center;
  /* background-color: #222222; */
  background-image: url(universe-simon1.jpg);
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 4rem;
  margin:  3%;
  color: #ffffff;
}

#level-title {
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 4rem;
  margin:  3%;
  color: #ffffff;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
